.fade-out{
    animation-name: fade-out;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes fade-out {
    100%{
        opacity: 0;
    }
}