/* ========== general ========== */
:root{
    /* header and captions colors */
    --header-background-color: #073B3A;
    --caption-color: #08A045;
    --header-color: #6BBF59;
    /* body colors */
    --body-background-color: #DDB771;
    /* horse grid item colors */
    --grid-item-background-color: #fdd284;
    --grid-item-background-color-hover: var(--body-background-color);
    /* button colors */
    --button-background-color: var(--header-color);
    --button-background-color-hover: #519444;
    --button-border-color: var(--caption-color);
}
html{
    width: 100%;
    height: 100%;
}
body{
    user-select: none;
    background-color: var(--body-background-color);
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.hidden{
    display: none;
}
h1, h2, h3, h4, h5, h6{
    color: var(--caption-color);
}
button{
    border-radius: 0.5em;
    min-height: 2em;
    min-width: 4em;
    border: 1.5px solid var(--button-border-color);
    background-color: var(--button-background-color);
    cursor: pointer;
}
button:hover{
    box-shadow: 0 0 2px 0 var(--button-background-color);
    background-color: var(--button-background-color-hover);
}
/* ========== header ========== */
header, nav{
    color: var(--header-color);
    background-color: var(--header-background-color);
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 999;
}
header{
    top: 0;
    left: 0;
}
nav{
    top:5em;
    left:0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 2px;
}
/* ========== nav ========== */
#add-horse-dialog-button{
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
    height: 2em;
    font-size: 1.5em;
}

/* ========== dialogs ========== */
/* todo add dialog styling */

/* ========== forms ========== */
/* UPDATE FORM */
#update-dialog, #create-dialog{
    text-align: center;
    z-index: 9999;
}
.side-by-side{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#update-form, #create-form fieldset{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#update-form, #create-form fieldset input, select, textarea{
    margin: 0.5em;
}
#update-buttons, #create-buttons{
    margin: 1em;
    display: flex;
    justify-content: space-between;
}
/* todo add form styling */

/* ========== grid ========== */
.grid-container{
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}
#dialog-grid{
    display: grid;
    grid-template-columns: 1fr;
}
@media (min-width: 600px) {
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 900px) {
    .grid-container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1200px) {
    .grid-container{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 1500px) {
    .grid-container{
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (min-width: 1800px) {
    .grid-container{
        grid-template-columns: repeat(6, 1fr);
    }
}
@media (min-width: 2100px) {
    .grid-container{
        grid-template-columns: repeat(7, 1fr);
    }
}

/* ========== grid item styling ========== */
#horseGrid{
    margin-top: 8em;
    max-width: 100vw;
}
#horseGrid article{
    border-radius: 1em;
    box-shadow: 0 0 10px 0 black;
    padding: 1em;
    cursor: pointer;
    position: relative;
    background-color: var(--grid-item-background-color);
    max-width: 90vw;
}
#horseGrid article:hover{
    box-shadow: 0 0 10px 5px black;
    background-color: var(--grid-item-background-color-hover);
}
#horseGrid article:hover .image-div{
    background-size: contain;
}
#horseGrid article .image-div{
    background-image: url("https://cdn.pixabay.com/photo/2018/05/11/11/11/horse-3390256__480.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    height: 200px;
    width: 100%;
}
#horseGrid article button{
    cursor: pointer;
}
#horseGrid .grid-item-btns{
    display: flex;
    justify-content: space-between;
}

/* ========== detail dialog tooltip ========== */
.tooltip {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: #000;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    pointer-events: none;
    border-radius: 0.5em;
}

/* ========== detail dialog ========== */
#detail-dialog{
    width: 75vw;
    border-radius: 1em;
    background-color: var(--body-background-color);
}
#detail-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    border-radius: 1em;
}
#detail-image-div{
    overflow: clip;
    border-radius: 1em;
    padding: 1em;
}
#detail-image-div img{
    width: 100%;
    object-fit: contain;
    border-radius: 1em;
}
#detail-close-button{
    text-align: center;
}
#detail-close-button button{
    min-width: 8em;
    min-height: 3em;
    margin: 1em;
}
#detail-owner-div, #detail-healthAndDiet-div{
    background-color: var(--body-background-color);
    padding:0.5em;
    margin: 0.5em;
    border-radius: 1em;
}
#detail-diet, #detail-vaccinations{
    display: grid;
    grid-template-rows: 0.5em;
    grid-template-columns: auto auto auto;
}
#detail-vaccinations{
    grid-template-rows: 0.5em 0.5em;
}
#detail-like-btns{
    display: flex;
    justify-content: flex-start;
    gap: 0.5em;
    margin: 0 2em 0 2em;
}
#detail-like-btns button{
    min-height: 2.5em;
    min-width: 5em;
}
/* ========== toast messages ========== */
#toast-container {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: grid;
    grid-template-columns: auto;
}

.toast {
    display: inline-block;
    padding: 1em 2em;
    margin-bottom: 0;
    color: #fff;
    border-radius: 0.5em;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    pointer-events: none;
}

.toast.success {
    background-color: #2ecc71;
}

.toast.error {
    background-color: #e74c3c;
}

/* ========== footer ========== */
footer{
    text-align: center;
    font-size: 0.75em;
}